 .side-nav {
    background-color: #3e3d97;
}

main {
    display: flex;
}
.side-nav {
  
    color: #fff;
    padding: 150px 0;
    text-align:left;
    background-size: cover;
    height: 500px;
    
  }

  
  .side-nav {
    font-size: 24px;
    margin-bottom: 20px;
  }

  